@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1>Bem vindo ao projeto F</h1>
    <p>Veja os meus outros repositórios <a href="https://github.com/luteciorv">clicando aqui</a></p>
</div>
