@page
@model AspNet_RazorPages.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Excluir aluno";
}

<h1>Excluir aluno</h1>

<h3>Você tem certeza de que gostaria de excluir este aluno?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReadViewModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReadViewModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReadViewModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReadViewModel.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ReadViewModel.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Retornar aos alunos</a>
    </form>
</div>
